#main {
    background-color: #E6F3EC;
    border-radius: 20px;
}

#main h2 {
	position: relative;
	padding: .75em 1em .75em 1.5em;
	border: 1px solid #ccc;
    background-color: white;
    /* width: 667px; */
    top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
#main h2::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #2c7046;
	border-radius: 4px;
}

/************/
/* contents */
/************/
#backgroundKnowledge ul {
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 730px;
}

#backgroundKnowledge > ul > li {
    width: 348px;
    float: left; 
    border: solid 1px black;
    margin-left: 10px;
    margin-bottom: 10px;
}

#backgroundKnowledge > ul > li .imageBox,
#backgroundKnowledge > ul > li .descriptionBox {
    display: table-cell;
}

#backgroundKnowledge > ul > li .descriptionBox {
    background-color: #fff;
    width: 207px;
}

#backgroundKnowledge > ul > li .imageBox {
    width: 140px;
    vertical-align: middle;
    background-color: #eee;
    border-right: #dcdcdc 1px solid;
    text-align: center;
} 

#backgroundKnowledge > ul > li .imageInner {
    padding: 10px 0;
}

#backgroundKnowledge > ul > li .descriptionInner {
    padding: 5px;
    min-height: 150px;
}

#backgroundKnowledge > ul > li .horizon {
    width: 130px;
    height: 90px;
}

#backgroundKnowledge > ul > li .vertical {
    width: 90px;
    height: 130px;
}

