{% extends "base/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "top.css" %}">
{% endblock %}
{% block main %}
<div id="dayInfo">
  {% include "home/today.html" %}
  {% include "home/tomorrow.html" %}
</div>
{% include "home/informations.html" %}
{% include "home/agenda.html" %}  
<div id="todo" class="mainContent" style="float:left">
  <!-- TODO: (Atami) [2016/01/30] -->
  <h2>TODO(公開時に削除)</h2>
  <p>Topページの写真変更、無断利用の為。似たようなアングル、快晴、緑が生い茂っているものがいい。<br />
    サイズは横950px縦240px程度。縦サイズはもう少し小さくてもいいかも。
    写真に文字を入れるので、文字を入れる部分は濃い色の方が良さそう。
  </p>
  <p>全体的に配色等の見た目を修正</p>
  <p>スマホ用にも使いやすい用に対応する</p>
  <p>最新情報のタイトルバー右端に一覧表示のリンクを設置</p>
  <p>最新情報のタイトルバー右端rssのリンクを設置</p>
  <p>当面の予定のタイトルバー右端にカレンダーを大きな画面で表示のリンクを設置</p>
  <p>google calendar api を安定化</p>
  <p>{{ request.path }}</p>
</div>
{% endblock %}
