{% load staticfiles %}
<div id="agenda" class="mainContent">
  <h2>
    <a href="https://calendar.google.com/calendar/embed?src=satotanakami%40gmail.com&ctz=Asia/Tokyo">当面の予定</a>
    <a id="refresh" title="更新">
      <input type="submit" name="refresh" value="&#xf021" onclick="location.reload(true)"/>
    </a>
  </h2>
  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=satotanakami%40gmail.com&amp;color=%23125A12&amp;ctz=Asia%2FTokyo" style="border-width:0" frameborder="0" scrolling="no"></iframe>
</div>
