{% load staticfiles %}
<div id="news" class="mainContent">
  <h2>
    <span class="rss"><a href="/news/feed/" title="rss"><img src="{% static "images/feedIcon28x28.png" %}" alt="rss"/></a></span>
    <span class="newslist"><a href="/news/" title="お知らせ一覧ページ">一覧</a></span>
    <a class="title" href="/news/" title="最新情報一覧">最新情報</a>
  </h2>
  <ol>
    {% for news in newsList %}
    <li>
      <a href="{{ news.url }}" title="「{{ news.title }}」の詳細を見る">
        <span class="Category" style="color:{{news.category.fgcolor}};background-color:{{news.category.bgcolor}}">{{ news.category.name }}</span>
        <span class="Date">{{ news.publish_date|date:'Y/m/d' }}</span>
        <span class="Title">{{ news.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ol>
</div>
