<div id="todaySchedules" class="today schedules">
  <h4>今日の予定</h4>
  <ol>
    {% if todaySchedules %}
      {% for event in todaySchedules %}
    <li>
      <p>
        <a href="https://calendar.google.com/calendar/embed?src=satotanakami%40gmail.com&ctz=Asia/Tokyo" target="_blank" title="詳細を見る">
          {% if event.is_today_start %}{{event.start|date:'H:i'}}{% endif %} {{ event.summary }}
        </a>
      </p>
    </li>
      {% endfor %}
    {% else %}
    <li>
      <p>
        <a href="https://calendar.google.com/calendar/embed?src=satotanakami%40gmail.com&ctz=Asia/Tokyo" target="_blank" title="カレンダーを見る">
          予定はありません
        </a>
      </p>
    </li>
    {% endif %}
  </ol>
</div>
