<div id="todayHallBooking" class="today hallBooking">
  <h4>自治会館の利用</h4>
  <ol>
    {% if todayHallBooking %}
      {% for event in todayHallBooking %}
    <li>
      <p>
        <a href="https://calendar.google.com/calendar/embed?src=6m5ne5kcfmkek4t0ba37o95olo%40group.calendar.google.com&ctz=Asia/Tokyo" target="_blank" title="詳細を見る">
          {% if event.is_today_start %}{{event.start|date:'H:i'}}{% endif %} {{ event.summary }}
        </a>
      </p>
    </li>
      {% endfor %}
    {% else %}
    <li>
      <p>
        <a href="https://calendar.google.com/calendar/embed?src=6m5ne5kcfmkek4t0ba37o95olo%40group.calendar.google.com&ctz=Asia/Tokyo" target="_blank" title="カレンダーを見る">
          利用予定はありません
        </a>
      </p>
    </li>
    {% endif %}
  </ol>
</div>
