<div id="tomorrowSchedules" class="tomorrow Schedules">
  <h4>明日の予定</h4>
  <ol>
    {% if tomorrowSchedules %}
      {% for event in tomorrowSchedules %}
    <li>
      <p>
        <a href="{{ event.url }}" target="_blank" title="詳細を見る">
          {{event.start|date:'H:i'}} {{ event.summary }}
        </a>
      </p>
    </li>
      {% endfor %}
    {% else %}
    <li>
      <p>
        <a href="https://calendar.google.com/calendar/embed?src=satotanakami%40gmail.com&ctz=Asia/Tokyo" target="_blank" title="カレンダーを見る">
          予定はありません
        </a>
      </p>
    </li>
    {% endif %}
  </ol>
</div>
