<div id="footer">
  <div id="footerWrapper">
    <div id="aboutMe">
      <h1>里自治会</h1>
      <ul>
        <li>
          <div id="zip">
            <p>520-2276</p>
          </div>
        </li>
        <li>
          <div id="address">
            <p><a href="https://www.google.co.jp/maps/place/%E3%80%92520-2276+Shiga-ken,+%C5%8Ctsu-shi,+Sato,+5+Chome%E2%88%927%E2%88%9222+%E9%87%8C%E5%85%AC%E6%B0%91%E9%A4%A8/@34.9394985,135.9306612,17z/data=!4m2!3m1!1s0x60016cee67f7d6df:0xe8e861cb3f9f2737?hl=ja" target="_blank" title="地図を見る">滋賀県大津市里5丁目7-22</a></p>
          </div>
        </li>
        <li>
          <div id="phone">
            <p>077-XXX-XXX</p>
          </div>
        </li>
        <li>
          <div id="fax">
            <p>077-XXX-XXX</p>
          </div>
        </li>
      </ul>
    </div>
    <div id="sitemap" class="footerContent clearfix">
      <div class="sitemapEntry">
        <h3><a href="/board">おしらせ</a></h3>
        <ul>
          <li><a href="/information">2016</a></li>
        </ul>
      </div>
      <div class="sitemapEntry">
        <h3><a href="/board">ご報告</a></h3>
        <ul>
          <li><a href="/information">2016</a></li>
        </ul>
      </div>
      <div class="sitemapEntry">
        <h3><a href="/board">回覧板</a></h3>
        <ul>
          <li><a href="/information">2016</a></li>
        </ul>
      </div>
      <div class="sitemapEntry">
        <h3><a href="/security">防犯・防災</a></h3>
        <ul>
          <li><a href="/">統合情報</a></li>
          <li><a href="/information">2016</a></li>
        </ul>
      </div>
      <div class="sitemapEntry">
        <h3><a href="/security">各種申請</a></h3>
        <ul>
        </ul>
      </div>
      <div id="query" class="sitemapEntry">
        <h3><a href="/board">自治会案内</a></h3>
        <ul>
          <li><a href="/board">会則</a></li>
          <li><a href="/board">会長挨拶</a></li>
          <li><a href="/about/group/">ブロックと組割</a></li>
          <li><a href="/board">入会案内</a></li>
          <li><a href="/board">脱会案内</a></li>
          <li><a href="/board">よくある質問</a></li>
          <li><a href="/board">お問い合わせ</a></li>
        </ul>
      </div>
      <div class="sitemapEntry">
        <h3>その他</h3>
        <ul>
          <li><a href="/informations/feed/">RSS</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
