{% load staticfiles %}
{% load startswidth %}
<div id="header" class="clearfix">
  <div id="masthead">
    <div id="mastheadImage">
      <a href="/" title="ホーム" alt="ホーム">
        <img src="{% static "headerImage.jpg" %}"/>
      </a>
    </div>
  </div>
  <div id="menubar">
    <ul id="menubar_container" class="clearfix">
      <li>
        <a href="/" title="ホーム">
          <i class="fa fa-home fa-2x"></i>
          <!-- <img src="{% static "homeIcon.png" %}" alt="ホーム"/> -->
        </a>
      </li>
      <li{% if request.path|startswith:"/news" %} class="active"{% endif %}><a href="/news"><span>お知らせ</span></a></li>
      <li{% if request.path|startswith:"/activity" %} class="active"{% endif %}><a href="/activity"><span>活動報告</span></a></li>
      <li{% if request.path|startswith:"/security" %} class="active"{% endif %}><a href="/security"><span>防犯・防災</span></a></li>
      <li{% if request.path|startswith:"/board" %} class="active"{% endif %}><a href="/board"><span>回覧板</span></a></li>
      <li{% if request.path|startswith:"/formats" %} class="active"{% endif %}><a href="/formats"><span>各種申請</span></a></li>
      <li{% if request.path|startswith:"/about" %} class="active"{% endif %}><a href="/about"><span>自治会案内</span></a></li>
    </ul>
  </div>
</div>
