{% load staticfiles %}
<div id="linkTree">  
  <script type="text/javascript" src="{% static "acordionMenu.js" %}"></script>
  <div id="informationLinks">
    <h2 class="selected">過去のお知らせ</h2>
    <ol style="display: block;">
      <li class="active">
        <p><a href="/informations/">最新情報一覧</a></p>
      </li>
      <li>
        <p><a href="/informations/2016/">2016年</a></p>
      </li>
    </ol>
  </div>
  <div id="activityLinks">
    <h2>活動報告</h2>
    <ol>
      <li>
        <p>
          <a href="/activity/index.html">最新の活動</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/activity/2016/">2016年</a>
        </p>
      </li>
    </ol>
  </div>
  <div id="securityLinks">
    <h2>防犯・防災</h2>
    <ol>
      <li>
        <p>
          <a href="/security/">防災統合情報</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/security/2016/">2016年</a>
        </p>
      </li>
    </ol>
  </div>
  <div id="boardLinks">
    <h2>回覧板</h2>
    <ol>
      <li>
        <p>
          <a href="/board/?year=2016">2016年</a>
        </p>
      </li>
    </ol>
  </div>
  <div id="aboutLinks">
    <h2>自治会案内</h2>
    <ol>
      <li>
        <p>
          <a href="/about/rule.html">会則</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/about/greeding.html">会長挨拶</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/about/group/">ブロックと組</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/about/QA.html">よくある質問</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/about/query.html">お問い合わせ</a>
        </p>
      </li>
    </ol>
  </div>
</div>
