{% load staticfiles %}
{% load startswidth %}
<div id="linkTree">  
  <script type="text/javascript" src="{% static "js/acordionMenu.js" %}"></script>
  <div id="newsLinks">
    <h2 {% if request.path|startswith:"/news" %}class="selected"{% endif %}>過去のおしらせ</h2>
    <ol {% if request.path|startswith:"/news" %}style="display:block"{% endif %}>
      {% for news_year in news_uniq_years %}
      <li>
        <p><a href="/news/?year={{ news_year }}">{{ news_year }}年</a></p>
      </li>
      {% endfor %}
    </ol>
  </div>
  <div id="activityLinks">
    <h2 {% if request.path|startswith:"/activity" %}class="selected"{% endif %}>活動報告</h2>
    <ol {% if request.path|startswith:"/activity" %}style="display:block"{% endif %}>
      {% for activity_year in activity_uniq_years %}
      <li>
        <p>
          <a href="/activity/?year={{ activity_year }}">{{ activity_year }}年</a>
        </p>
      </li>
      {% endfor %}
    </ol>
  </div>
  <div id="securityLinks">
    <h2 {% if request.path|startswith:"/security" %}class="selected"{% endif %}>防犯・防災</h2>
    <ol {% if request.path|startswith:"/security" %}style="display:block"{% endif %}>
      <li>
        <p>
          <a href="/security/secportal/">防災統合情報</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/security/secportal/#evacuationMapArea">避難地図</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/security/knowledge/">防災予備知識</a>
        </p>
      </li>
    </ol>
  </div>
  <div id="boardLinks">
    <h2 {% if request.path|startswith:"/board" %}class="selected"{% endif %}>回覧板</h2>
    <ol {% if request.path|startswith:"/board" %}style="display:block"{% endif %}>
      {% for board_year in board_uniq_years %}
      <li {% if request.path|startswith:"/board" %}class="active"{% endif %}>
        <p>
          <a href="/board/?year={{ board_year }}">{{ board_year }}年</a>
        </p>
      </li>
      {% endfor %}
    </ol>
  </div>
  <div id="aboutLinks">
    <h2 {% if request.path|startswith:"/about" %}class="selected"{% endif %}>自治会案内</h2>
    <ol {% if request.path|startswith:"/about" %}style="display:block"{% endif %}>
      <li>
        <p>
          <a href="/about/rule.html">会則</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/about/greeding.html">会長挨拶</a>
        </p>
      </li>
      <li {% if request.path|startswith:"/about/group" %}class="active"{% endif %}>
        <p>
          <a href="/about/group/">ブロックと組</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/about/solve/#faq">よくある質問</a>
        </p>
      </li>
      <li {% if request.path|startswith:"/about/contact" %}class="active"{% endif %}>
        <p>
          <a href="/about/solve/#contact">情報提供・お問い合わせ</a>
        </p>
      </li>
    </ol>
  </div>
</div>
