{% extends "base/base.html" %}
{% load staticfiles %}   
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "top.css" %}">
{% endblock %}
  {% block main %}
    <div id="today" class="mainContent">
      <h2>今日の情報</h2>
      <div id="tearOffCalendar" class="today">
        <a href="/" title="カレンダーへ移動"> <!-- a 内にdivよくない -->
          <div class="year">2015</div>
          <div class="month">12</div>
          <div class="day">31</div>
          <div class="week">土</div>
        </a>
      </div>
      <hr />
      <div id="todayGarbageCollection" class="today garbageCollection">
        <h4>今日のゴミ収集</h4>
        <ul>
          <li>
            <p>
              <a href="http://www.city.otsu.lg.jp/machi/gomi/calendar/1389250930014.html" target="_blank" title="大津市のページへ移動">
                ゴミ収集はありません
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="http://www.city.otsu.lg.jp/machi/gomi/calendar/1389250930014.html" target="_blank" title="大津市のページへ移動" >
                <img src="{% static "paper.jpg" %}"/>
              </a>
            </p> 
          </li>
          <li>
            <p>
              <a href="http://www.city.otsu.lg.jp/machi/gomi/calendar/1389250930014.html" target="_blank" title="大津市のページへ移動">
                <img src="{% static "combustibles.jpg" %}"/>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="http://www.city.otsu.lg.jp/machi/gomi/calendar/1389250930014.html" target="_blank" title="大津市のページへ移動">
                <img src="{% static "bottles.jpg" %}"/>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="http://www.city.otsu.lg.jp/machi/gomi/calendar/1389250930014.html" target="_blank" title="大津市のページへ移動">
                <img src="{% static "cans.jpg" %}"/>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="http://www.city.otsu.lg.jp/machi/gomi/calendar/1389250930014.html" target="_blank" title="大津市のページへ移動">
                <img src="{% static "incombustibles.jpg" %}"/>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="http://www.city.otsu.lg.jp/machi/gomi/calendar/1389250930014.html" target="_blank" title="大津市のページへ移動">
                <img src="{% static "plastics.jpg" %}"/>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="http://www.city.otsu.lg.jp/machi/gomi/calendar/1389250930014.html" target="_blank" title="大津市のページへ移動">
                <img src="{% static "PET.jpg" %}"/>
              </a>
            </p>
          </li>              
        </ul>
      </div>
      <hr />
      <div id="todaySchedules" class="today schedules">
        <h4>今日の予定</h4>
        <ol>
          <li>
            <p>
              <a href="https://calendar.google.com/calendar/embed?src=satotanakami%40gmail.com&ctz=Asia/Tokyo" target="_blank" title="カレンダーを見る">
                予定はありません
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="/" target="_blank" title="詳細を見る">
                自治総会
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="/" target="_blank" title="詳細を見る">
                納涼祭 長文テスト長文テスト長文テスト長文テスト長文テスト長文テスト長文テスト長文テスト
              </a>
            </p>
          </li>
        </ol>
      </div>
      <hr />
      <div id="todayHallBooking" class="today hallBooking">
        <h4>自治会館の利用</h4>
        <ol>
          <li>
            <p>
              <a href="https://calendar.google.com/calendar/embed?src=6m5ne5kcfmkek4t0ba37o95olo%40group.calendar.google.com&ctz=Asia/Tokyo" target="_blank" title="カレンダーを見る">
                利用予定はありません
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="https://calendar.google.com/calendar/embed?src=6m5ne5kcfmkek4t0ba37o95olo%40group.calendar.google.com&ctz=Asia/Tokyo" target="_blank" title="詳細を見る">
                太極拳
              </a>
            </p>
          </li>
        </ol>
      </div>
    </div>
    
    <div id="informations" class="mainContent">
      <h2>
        <span class="rss"><a href="/rss" title="rss"><img src="{% static "feedIcon28x28.png" %}" alt="rss"/></a></span>
        <span class="infolist"><a href="/informations">一覧</a></span>
        <a class="title" href="/informations" title="最新情報一覧">最新情報</a>
      </h2>
      <ol>
        <li>
          <a href="/informations/index.html" target="_blank" title="詳細を見る">
            <span class="Category categoryInfo">お知らせ</span>
            <span class="Date">2015年12月24日</span>
            <span class="Title">お知らせテスト</span>
          </a>
        </li>
        <li>
          <a href="/informations/index.html" target="_blank" title="詳細を見る">
            <span class="Category categoryReport">ご報告</span>
            <span class="Date">2015年12月20日</span>
            <span class="Title">報告テスト</span>
          </a>
        </li>
        <li>
          <a href="/informations/index.html" target="_blank" title="詳細を見る">
            <span class="Category categoryUpdate">更新</span>
            <span class="Date">2015年11月01日</span>
            <span class="Title">サイトを更新しました。</span>
          </a>
        </li>
        <li>
          <a href="/informations/index.html" target="_blank" title="詳細を見る">
            <span class="Category categoryReport">ご報告</span>
            <span class="Date">2015年11月01日</span>
            <span class="Title">報告テスト長文テスト長文テスト長文テスト長文テスト長文テスト長文テスト長文テスト長文テスト長文テスト</span>
          </a>
        </li>
        <li>
          <a href="/informations/index.html" target="_blank" title="詳細を見る">
            <span class="Category categoryWanted">募集</span>
            <span class="Date">2015年11月01日</span>
            <span class="Title">報告テスト</span>
          </a>
        </li>
        <li>
          <a href="/informations/index.html" target="_blank" title="詳細を見る">
            <span class="Category categoryEvent">イベント</span>
            <span class="Date">2015年11月01日</span>
            <span class="Title">報告テスト</span>
          </a>
        </li>
        <li>
          <a href="/informations/index.html" target="_blank" title="詳細を見る">
            <span class="Category categoryImportant">重要</span>
            <span class="Date">2015年11月01日</span>
            <span class="Title">報告テスト</span>
          </a>
        </li>
        <li>
          <a href="/informations/index.html" target="_blank" title="詳細を見る">
            <span class="Category categorySecurity">防犯</span>
            <span class="Date">2015年11月01日</span>
            <span class="Title">報告テスト</span>
          </a>
        </li>
      </ol>
    </div>
    
    <div id="agenda" class="mainContent">
      <h2>
        <a href="https://calendar.google.com/calendar/embed?src=satotanakami%40gmail.com&ctz=Asia/Tokyo">当面の予定</a>
      </h2>
      <!-- <iframe src="{% static "gcalendar-wrapper.php?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=satotanakami%40gmail.com&amp;color=%23125A12&amp;ctz=Asia%2FTokyo" %}" style="border-width:0" frameborder="0" scrolling="no"></iframe> -->
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=satotanakami%40gmail.com&amp;color=%23125A12&amp;ctz=Asia%2FTokyo"  style="border-width:0" frameborder="0" scrolling="no"></iframe>
    </div>
    
    <div id="tomorrow" class="mainContent">
      <h2>明日の情報</h2>
      <div id="tomorrowGarbageCollection" class="tomorrow garbageCollection">
        <h4>明日のゴミ収集</h4>
        <ul>
          <li>
            <p>
              <a href="http://www.city.otsu.lg.jp/machi/gomi/calendar/1389250930014.html" target="_blank" title="大津市のページへ移動" >
                <img src="{% static "paper.jpg" %}"/>
              </a>
            </p> 
          </li>
        </ul>
      </div>
      <hr />
      <div id="tomorrowSchedules" class="tomorrow Schedules">
        <h4>明日の予定</h4>
        <ol>
          <li>
            <p>
              <a href="/" target="_blank" title="詳細を見る">
                自治総会
              </a>
            </p>
          </li>
        </ol>
      </div>
    </div>
    
    <div id="todo" class="mainContent" style="float:left">
      <!-- TODO: (Atami) [2016/01/30] -->
      <h2>TODO(公開時に削除)</h2>
      <p>Topページの写真変更、無断利用の為。似たようなアングル、快晴、緑が生い茂っているものがいい。<br />
        サイズは横950px縦240px程度。縦サイズはもう少し小さくてもいいかも。
        写真に文字を入れるので、文字を入れる部分は濃い色の方が良さそう。
      </p>
      <p>全体的に配色等の見た目を修正</p>
      <p>スマホ用にも使いやすい用に対応する</p>
      <p>最新情報のタイトルバー右端に一覧表示のリンクを設置</p>
      <p>最新情報のタイトルバー右端rssのリンクを設置</p>
      <p>当面の予定のタイトルバー右端にカレンダーを大きな画面で表示のリンクを設置</p>
    </div>
    {% endblock %}
