<html>
  <head>
<title>サーバー案</title>
</head>
<body>
  <ul>
    <li>
      <h3>必ず必要なもの</h3>
      <h4>ドメイン</h4>
      <p>サイトのアドレス (例 google.com yahoo.co.jp </p>
      <p>.jp ドメインはやや費用高め 年3000円～ が多い </p>
      <p>.com ドメインは有名なので既に欲しいドメインが取得されている可能性がある</p>
      <p>.org ドメインは安価 年 500円～ が多い</p>
      <p>無料で取得することも可能。しかし、覚え難いドメインとなる。(例 example.no-ip.info example.no-ip.net</p>
    </li>
  </ul>
  <hr />
  <ol>
    <li>
      <h3>現在あるパソコンをサーバーにする</h3>
      <h4>メリット</h4>
      <ul>
        <li>
          <p>安価で運用できる。電気代と固定ip費用だけ</p>
        </li>
      </ul>
      <h4>デメリット</h4>
      <ul>
        <li>
          <p>windows のアップデートで再起動の度にサイトが利用できなくなる</p>
        </li>
        <li>
          <p>windows 利用者が誤って電源を落とすとサイトが利用できなくなる</p>
        </li>
        <li>
          <p>windows 利用者が重たい処理をするとサイトが重くなる</p>
        </li>
      </ul>
    </li>
    <li>
      <h3>独自サーバーを立てる</h3>
      <h4>メリット</h4>
      <ul>
        <li>ディスク容量等無制限に利用できる</li>
      </ul>
      <h4>デメリット</h4>
      <ul>
        <li></li>
      </ul>
    </li>
    <li>
      <h3>レンタルサーバーをかりる</h3>
      <h4>メリット</h4>
      <ul>
        <li>
          <p>サイトが安定する(落ちにくい、重くなりにくい)</p>
        </li>
        <li>
          <p></p>
        </li>
      </ul>
      <h4>デメリット</h4>
      <ul>
        <li>費用がかかる</li>
        <li>メンテが大変</li>
        <li>ディスク容量、アクセス、CPU 利用率等、制限がある</li>
      </ul>
    </li>
  </ol>
</body>
</html>
