<html>
  <head>
    <title>weather</title>
  </head>
  <body>
    <iframe src="http://weathernews.jp/radar/#//c=50" width="540px" height="530px" scrolling="no">
      <!-- 雨雲レーダー -->
    </iframe>
    <iframe src="http://weathernews.jp/pinpoint/cgi/search_result.fcgi?service=11&lat=35.0144938888889&lon=135.857546111111&ameno=60216&name=%E5%A4%A7%E6%B4%A5&pref=60#swfCode" width="540px" height="530px">
      <!-- 大津市ピンポイント -->
    </iframe>
    <iframe src="http://weathernews.jp/satellite/" width="540px" height="530px">
      <!-- 衛生画像 -->
    </iframe>
    <iframe src="http://www.jma.go.jp/jp/g3/#info" width="540px" height="530px">
      <!-- 天気図 -->
    </iframe>
    <iframe src="http://www.jma.go.jp/jp/yoho/#info" width="540px" height="530px">
      <!-- 全国予報 -->
    </iframe>
    <iframe src="http://www.jma.go.jp/jp/soukei/#info" width="540px" height="530px">
      <!-- 異常気象 -->
    </iframe>

    <!-- +--------------------+--------------------+---------------------+ -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- |         1          |         2          |          3          | -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- +--------------------+--------------------+---------------------+ -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- |         4          |         5          |          6          | -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- |                    |                    |                     | -->
    <!-- +--------------------+--------------------+---------------------+ -->
    {% for weather_url in weather_urls %}
    <iframe src="{{ weather_url }}" width="540px" height="530px"></iframe>
    {% endfor %}
  </body>
</html>
