<div id="backgroundKnowledge" class="clearfix">
  <h2>防災予備知識</h2>
  <ul>
    {% for knowledge in knowledges %}
    <li>
      <div class="imageBox">
        <div class="imageInner">
          <a href="{{ knowledge.url }}" target="_blank" title="「{{knowledge.title}}」の掲載サイトへ移動" onclick="ga('send','event','knowledge_imagebox','click','{{ knowledge.title }}')"><img src="{{ knowledge.thumbnail.url }}" class="{% if knowledge.is_vertical_image %}vertical{% else %}horizon{% endif %}" alt="{{ knowledge.title }}"/></a>
        </div>
      </div>
      <div class="descriptionBox">
        <div class="descriptionInner">
          <h3><a href="{{ knowledge.url }}" target="_blank" title="掲載サイトへ移動" onclick="ga('send','event','knowledge_title','click','{{ knowledge.title }}')">{{ knowledge.title }}</a></h3>
          <p>{{ knowledge.description|safe }}</p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
