<h2 class="mainContent">里自治会会則</h2>
<div id="rule" class="mainContent">
  <table cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <th colspan="2">
          <p>(名称)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第1条</p>
        </th>
        <td>
          <p>本会は、里自治会と称する。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(目的)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第2条</p>
        </th>
        <td>
          <p>本会は、会員の相互扶助により地域社会の発展と住民福祉の増進を図ることを目的とする。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(組織及び会員)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第3条</p>
        </th>
        <td>
          <p>本会は、大津市里一丁目～六丁目、枝四丁目、関津六丁目地先に居住する世帯をもって組織する。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(賛助会員)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第4条</p>
        </th>
        <td>
          <p>町内に事業所を有する法人は、賛助会員となることができる。但し、役員専任を除外し、総会議決権を有しない。</p>
        </td>
      </tr>

      <tr>
        <th colspan="2">
          <p>(事務所)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第5条</p>
        </th>
        <td>
          <p>本会の事務所は里公民館におく。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(事業)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第6条</p>
        </th>
        <td>
          <p>本会は、第2条に定める目的を達成するため次の事業を行う。</p>
          <p>1. 福利厚生に関すること。</p>
          <p>2. 慶弔に関すること。</p>
          <p>3. 青少年の育成及び体育振興に関すること。</p>
          <p>4. 環境衛生に関すること。</p>
          <p>5. 防火防犯及び交通、公害に関すること。</p>
          <p>6. 社会福祉事業に関すること。</p>
          <p>7. 市政運営の協力に関すること。</p>
          <p>8. 公民館の運営に関すること。</p>
          <p>9. その他、本会の目的達成に関すること。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(役員)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第7条</p>
        </th>
        <td>
          <p>本会に次の役員をおく。</p>
          <p>1. 顧問　　　　1名</p>
          <p>2. 会長　　　　1名</p>
          <p>3. 副会長3名以上(うち1名は会計担当)</p>
          <p>4. 協議役員(ブロック長等)　　若干名</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(役員、組ブロック長及び組長の選出)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第8条</p>
        </th>
        <td>
          <p>役員、組ブロック長及び組長の選出は、次の通りとする。</p>
          <p>1. 役員は総会において決定する。</p>
          <p>2. 会長、副会長は前年度の協議役員から選出する。</p>
          <p>3. 顧問は前年度の会長があたる。</p>
          <p>4. 組長は各組で選出する。</p>
          <p>5. 組ブロック長は各ブロックの組長が選出し、協議役員を兼ねるとともに、次年度の役員を務める。</p>
          <p>6. 組ブロック長・組長が不慮の事態等により継続不可となった場合は、後任は当該組にて協議の上選出し、役員会で承認する。</p>
          <p>7. 会計監査2名及び運営協力員は、会長が委嘱する。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(役員、組ブロック長及び組長の任務)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第9条</p>
        </th>
        <td>
          <p>役員、組ブロック長及び組長の選出は、次の通りとする。</p>
          <p>1. 会長は、本会を代表し会務を統括する。</p>
          <p>2. 副会長は、会長を補佐し、会長に事故あるときには、その職務を代行する。</p>
          <p>3. 会長に事故あるときは、副会長が残任期間代行する。</p>
          <p>4. 会計は、本会の会計事務に当たる。</p>
          <p>5. 協議役員は、本会の運営に当たる。</p>
          <p>6. 組ブロック長は、ブロックを代表しブロックを統括するとともに、協議役員を兼ねる。</p>
          <p>7. 組長は、組を代表し、組を統括する。</p>
          <p>8. 会計監査は、本会の会計を監査する。</p>
          <p>9. 運営協力員は、本会の運営に協力する。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(代議員の選出と任務)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第10条</p>
        </th>
        <td>
          <p>代議員の選出と任務は次の通りとする。</p>
          <p>1. 代議員は各組の構成世帯数の2割を基準に選出し、人選は各組で決める。</p>
          <p>2. 定数その他必要事項は、役員会で決める。</p>
          <p>3. 代議員は、総会に出席し、議案を審議決定する。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(役員、組ブロック長及び組長の任期)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第11条</p>
        </th>
        <td>
          <p>役員、組ブロック長及び組長の任期は1年とする。但し、ブロック長は、次年度の役員を務めることとし、役員の再任は第8条3号の場合を除き、2期までを原則とする。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(役員の構成と任務)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第12条</p>
        </th>
        <td>
          <p>役員会の構成と任務は次の通りとする。</p>
          <p>1. 役員会は役員をもって構成し、次の事項を審議、執行する。</p>
          <p>2. 事業計画、予算の立案に関する件。</p>
          <p>3. 事業経過報告、決算に関する件。</p>
          <p>4. 総会議決事項の執行に関する件。</p>
          <p>5. その他本会の運営についての重要事項に関する件。</p>
          <p>6. 会則改廃の事案に関する件。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(総会の構成と任務)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第13条</p>
        </th>
        <td>
          <p>総会の構成は代議員、役員によって構成し、総会において協議、審議すべき事項は次の通りとする。</p>
          <p>1. 役員に関する件。</p>
          <p>2. 会則の改廃に関する件。</p>
          <p>3. 事業計画、事業経過報告に関する件。</p>
          <p>4. 予算、決算に関する件。</p>
          <p>5. その他本会の運営についての重要事項に関する件。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(組長会の構成と任務)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第14条</p>
        </th>
        <td>
          <p>組長会は、組ブロック長、組長、役員会で構成し円滑な事業推進に協力する。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(専門委員及び委員会)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第15条</p>
        </th>
        <td>
          <p>第5条の事業を遂行するため次の委員を会長が役員会の同意を得て委嘱する。</p>
          <p>1. 交通安全、体育文化、広報、環境設備、防火防犯、人権生涯学習、青少年対策。</p>
          <p>2. 防火防犯委員は、役員より1名と女性防火促進委員の組ブロック長で構成する。</p>
          <p>2-1. 防火防犯委員は、女性防火クラブ隊の隊員を兼ねる。任期は2年とし再任を妨げない。</p>
          <p>3. 必要に応じ、委員会を設置することができる。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(会議)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第16条</p>
        </th>
        <td>
          <p>本会の会議は、総会、役員会、組ブロック長会、組長会とする。</p>
          <p>1. 総会は、毎年3月に会長が召集する。但し、必要に応じ、臨時に開催することができる。</p>
          <p>2. 役員会、組ブロック長会、組長会、会長が必要に応じて召集する。</p>
          <p>3. 総会、役員会、組長会は、それぞれ構成員の3分の1以上が会議開催を要求したときは、役員会の決議を得て開催しなければならない。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(会議の成立と議決)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第17条</p>
        </th>
        <td>
          <p>本会の会議は、構成員の過半数(委任状を含む)の出席によって成立する。</p>
          <p>1. 本会の議決は、出席構成員の過半数によって決定する。</p>
          <p>2. 可否同数のときは、会長が決定する。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(経費)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第18条</p>
        </th>
        <td>
          <p>本会の経費は、会費、寄付金、市助成金、その他の収入をもってこれに当てる。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(会費)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第19条</p>
        </th>
        <td>
          <p>本会の会員及び賛助会員は、総会において決定された金額を納入するものとする。但し、必要のあるときは、臨時会費を徴収することができる。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(慶弔)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第20条</p>
        </th>
        <td>
          <p>会員に対し、次により慶弔するものとする</p>
          <p>1. 結婚(祝電)</p>
          <p>2. 死亡(供華等)</p>
          <p>3. 前項に規定する事項が発生したとき、組長は直ちに会長に連絡する。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(会計年度)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第21条</p>
        </th>
        <td>
          <p>本会の会計年度は毎年4月1日に始まり、翌年3月31日をもって終わる。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>(委任)</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>第22条</p>
        </th>
        <td>
          <p>この会則に定めない事項は、会長が役員会の決議を経て決定する。</p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <p>　　　</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>付　則</p>
        </th>
        <td>
          <p>この会則は、昭和54年4月 1日から施行する。</p>
          <p>一部改正　　昭和59年3月18日より実施する。</p>
          <p>整備改正　　昭和61年3月 8日より実施する。</p>
          <p>改正挿入　　昭和63年3月12日より実施する。</p>
          <p>一部改正　　平成 5年3月21日より実施する。</p>
          <p>一部改正　　平成11年3月21日より実施する。</p>
          <p>一部改正　　平成25年4月 1日より施行する。</p>
          <p>　　　　　　但し、第7条2号は、平成26年4月1日より施行する。</p>
          <p>一部改正　　平成29年4月 1日より施行する。</p>
          <p>　　　　　　但し、第15条2項は、平成30年4月1日より施行する。</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
          
