<h2 class="mainSecurityContent">里自主防災会会則</h2>
<div id="Security_rule" class="mainContent">
  <table cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <th colspan="2">
          <a href="{% static "sato_security_rule.pdf" %}" target="_blank" title="・自主防災会会則">里自主防災会会則</a>
        </th>
        <td>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <a href="" target="_blank" title=""> </a>
        </th>
        <td>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <a href="{% static "sato_security_plan.pdf" %}" target="_blank" title="自主防災会防災計画">自主防災会防災計画</a>
        </th>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
          
