body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    line-height: 1.5;
    font-family: Meiryo, "メイリオ", "MS P Gothic", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "MS Pゴシック", sans-serif;    
}

ol {
    list-style: none;
}

/*************/
/* for debug */
/*************/

/* * { */
/*  border: 1px solid #CC3333 !important; */
/*  margin: 2px; */
/* } */
/* p {	background: #F7F49B!important; } */

/**********/
/* header */
/**********/
#header {
    margin-top: 0;
    margin-bottom: 0;
}

/************/
/* masthead */
/************/
#masthead {
    background-color: black;
}

#mastheadImage {
    width: 950px;
    height: 236px;
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}


#mastheadImage img {
    width: 950px;
}

/***********/
/* manubar */
/***********/
#menubar {
    width: 100%;
    background-color: #0c160c;
    border-collapse: collapse;
}

#menubar_container {
    padding: 0;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    letter-spacing: 5px;
    font-size: 17px;
    font-weight: bold;
    width: 950px;
    height: 50px;
    overflow: hidden;
}

#menubar_container li {
    width: 15.68776369%;
    height: 50px;
    display: block;
    float: left;
    border-right: 1px solid #2C7046;
    border-left:1px solid #929292;
    border-bottom: 0 solid #575757;
    border-top: 0 solid #797979;
    background: #2c7046;
    background: -moz-linear-gradient(top,  #2c7046 0%, #2c7046 49%, #28653f 50%, #2c7046 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2c7046 0%,#2c7046 49%,#28653f 50%,#2c7046 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2c7046 0%,#2c7046 49%,#28653f 50%,#2c7046 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7046', endColorstr='#2c7046',GradientType=0 ); /* IE6-9 */
}

#menubar_container li:first-child {
    width: 60;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-left: none;
}

#menubar_container li:last-child {
    width: 132px;
    border-radius: 0 4px 4px 0;
    border-right: none;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
}

#menubar_container li:hover {
    background: #165B30;
    background: -moz-linear-gradient(top,  #165B30 0%, #165B30 49%, #1a512f 50%, #165B30 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #165B30 0%,#165B30 49%,#1a512f 50%,#165B30 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #165B30 0%,#165B30 49%,#1a512f 50%,#165B30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#165B30', endColorstr='#1a512f',GradientType=0 ); /* IE6-9 */
}

#menubar_container i {
    margin-top: 8px;
    margin-left: 4px;
    height: 50px;
}

#menubar_container li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 50px;
    outline: none;
}

#menubar_container li:first-child a img {
    vertical-align: middle;
    margin-top: 13px;
}

#menubar_container li.active,
#menubar_container li.active:hover {
    background: #165B30;
    background: -moz-linear-gradient(top,  #165B30 0%, #165B30 49%, #1a512f 50%, #165B30 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #165B30 0%,#165B30 49%,#1a512f 50%,#165B30 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #165B30 0%,#165B30 49%,#1a512f 50%,#165B30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#165B30', endColorstr='#1a512f',GradientType=0 ); /* IE6-9 */
}

/**********/
/* middle */
/**********/
#middle {
    width: 950px;
    height: auto;
    /* min-height: 700px; */
    min-height: 500px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}

/*************/
/* Emergency */
/*************/
.emergencyArea {
    background-color: #FBF1ED;
    margin-top: -5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    border: solid red 5px;
    overflow: visible;
    height: auto;
}

.emergencyAreaTitle {
    line-style: none;
    display: block;
    background-color: red;
    border: solid red 1px;
    font-weight: bold;
}

.emergencyAreaTitle h1 {
    font-size: 17px;
    letter-spacing: 1px;
    padding-left: 10px;
    color: white;
    margin-bottom: 5px;
}

.emergencyList {
    color: red;
}

.emergencyEntry {
    border-bottom: dotted red 1px;
    margin-top: 6px;
    padding: 3px;
    background-color: #FBF1ED;
}

.emergencyEntry:last-child {
    border-bottom: none;
}

.emergencyEntry h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
}

.emergencyEntry p {
    word-brek: break-all;
    margin-left: 25px;
    font-size: 15px;
}

/*************/
/* link tree */
/*************/
#linkTree ol {
    display: none;
}

#linkTree h2 {
    cursor: pointer;
}

#linkTree h3 {
    cursor: pointer;
}


#links {
    float: left;
    display: block;
    width: 180px;
    height:auto;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    margin-bottom: 35;
}

#links #counter {
    margin-top: 5px;
    letter-spacing: 1px;
}

#securityPortal {
    width: 100%;
    height: 38px;
    margin-bottom: 8px;
    line-height: 40px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f5e5e1 3%, #cb796b 5%, #af3521 8%, #a82812 11%, #a52812 22%, #8f2310 57%, #87210f 76%, #7e1f0e 86%, #7e1f0e 89%, #832b1c 92%, #ab7167 95%, #eee3e1 97%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f5e5e1 3%,#cb796b 5%,#af3521 8%,#a82812 11%,#a52812 22%,#8f2310 57%,#87210f 76%,#7e1f0e 86%,#7e1f0e 89%,#832b1c 92%,#ab7167 95%,#eee3e1 97%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f5e5e1 3%,#cb796b 5%,#af3521 8%,#a82812 11%,#a52812 22%,#8f2310 57%,#87210f 76%,#7e1f0e 86%,#7e1f0e 89%,#832b1c 92%,#ab7167 95%,#eee3e1 97%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-radius: 6px 6px 6px 6px;
}

#securityPortal a {
    display: block;
    width: 170px;
    height: 100%;
    color: white;
    zoom: 1;	/* for before IE6 */
    padding-left: 10px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 5px;
}

#securityPortal:hover {
    opacity: 0.8;
}

#linkTree li,
#linkTree h2,
#linkTree h3,
#linkTree div,
#linkTree ol {
    /* reset styles for accordion */
    list-style: none;
    margin:0;
    padding:0;
    font-size:1em;
    font-weight:normal;
}

#linkTree a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#linkTree li {
    height: 30px;
    letter-spacing: 1px;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ededed));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #ededed);
    background-image: -moz-linear-gradient(top, #f5f5f5, #ededed);
    background-image: -ms-linear-gradient(top, #f5f5f5, #ededed);
    background-image: -o-linear-gradient(top, #f5f5f5, #ededed);
    background-image: linear-gradient(to bottom, #f5f5f5, #ededed);
}

#linkTree li:hover {
    background-color: #E8E9E8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E8E9E8), to(#D4D6D4));
    background-image: -webkit-linear-gradient(top, #E8E9E8, #D4D6D4);
    background-image: -moz-linear-gradient(top, #E8E9E8, #D4D6D4);
    background-image: -ms-linear-gradient(top, #E8E9E8, #D4D6D4);
    background-image: -o-linear-gradient(top, #E8E9E8, #D4D6D4);
    background-image: linear-gradient(to bottom, #E8E9E8, #D4D6D4);
}

#linkTree .active {
    background-color: #E8E9E8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E8E9E8), to(#D4D6D4));
    background-image: -webkit-linear-gradient(top, #E8E9E8, #D4D6D4);
    background-image: -moz-linear-gradient(top, #E8E9E8, #D4D6D4);
    background-image: -ms-linear-gradient(top, #E8E9E8, #D4D6D4);
    background-image: -o-linear-gradient(top, #E8E9E8, #D4D6D4);
    background-image: linear-gradient(to bottom, #E8E9E8, #D4D6D4);
}

#linkTree h2{
    height: 35px;
    padding:5px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 30px;
    outline: none;
    background-color: #2C7046;
    position: relative;
}

#linkTree h2.selected:before {
    content: url("/static/images/minus.png");
    position:absolute;
    top: 17px;
    left: 5px;
}

#linkTree h2:before {
    content: url("/static/images/plus.png");
    position:absolute;
    top: 17px;
    left: 5px;
}

/********/
/* main */
/********/
#main {
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 30px;
    height: auto;
    padding: 0px 0px 0px;
    width: auto;
    min-width: 212px;
    min-height: 500px;
}

/**********/
/* footer */
/**********/
#footer {
    clear: both;
    width: 100%;
    background-color: #2C7046;
    list-style: none;
    border-top: solid 10px #165B30;
    margin-top: 10px;
}

#footerWrapper {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

#aboutMe {
    width: 200px;
    float: right;
    color: white;
    background-color: #165B30;
    padding: 30px;
    border-radius: 0px 0px 15px 15px;
}

#aboutMe > ul {
    margin-left: 15px;
    color: white;
}

#aboutMe > ul > li a {
    color: white;
}

#address a:before {
    content: "\f041";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 2px;
    vertical-align: middle;
}

#address a:hover {
    text-decoration: underline;
}

#zip p:before {
    content: "〒 ";
}

#phone p:before {
    content: "電話番号: ";
}

#fax p:before {
    content: "FAX: ";
}


#sitemap {
    width: 750px;
    padding-top: 10px;
}

.sitemapEntry {
    float: left;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    min-width: 150px;
    max-width: 220px;
}

.sitemapEntry h3 {
    font-size: 16px;
}

.sitemapEntry h3 a {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.sitemapEntry a {
    color: white;
}

.sitemapEntry a:hover {
    text-decoration: underline;
}

.sitemapEntry ol {
    margin-top: 5px;
    font-size: 15px;
}

.sitemapEntry li {
    margin-top: 1px;
}

.sitemapEntry > ol > li > a:before {
    content: url("/static/images/arrowWhite.png");
    position : relative;
    bottom: -0.1em;
}

/****************/
/* hover button */
/****************/
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 100%;
}

#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    text-align: center;
    display: table-cell;
    font-size: 1.3rem;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    opacity: 0.7;
    filter alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
}

#page-top a:hover {
    text-decoration: none;
    background: #666;
    opacity: 1;
    filter alpha(opacity=100);
    -ms-filter: "alpha(opacity=100)";
}

#page-top .icon-arrow-up {
    font: normal normal normal 14px/1 FontAwesome;
}

.icon-arrow-up:before {
    content: "\f062";
    font-size: 36px;
    font-size: 2.0rem;
}

/************/
/* clearfix */
/************/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    list-style: none;
    /* visibility: hidden; */
}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.clears{
    clear:both;
}
