{% include "activity/taglist.html" %}
<h2>{{ activityTitle }}</h2>
<div id="activityIndex" class="mainContent clearfix">
  <ol>
    {% for link in activities %}
    <li>
      <h3><a href="{{ link.get_absolute_url }}">{{ link.title|safe }}</a></h3>
      <div class="date">
        <p>{{ link.publish_date|date:'Y年m月d日H:i' }}</p>
      </div>
      <div class="description">
        <p>{{ link.description|safe }}</p>
      </div>
      <div class="footer">
        <a href="{{ link.get_absolute_url }}">もっと読む</a>
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
