#main {
    background-color: #E6F3EC;
    border-radius: 20px;
}

#main h2 {
	position: relative;
	padding: .75em 1em .75em 1.5em;
	border: 1px solid #ccc;
    background-color: white;
    /* width: 667px; */
    top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
#main h2::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #2c7046;
	border-radius: 4px;
}

.otherlink {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.otherlink a:hover {
    text-decoration: underline;
}
.otherlink a:before {
    content: url("/static/images/arrow.png");
    position: relative;
    bottom: -0.3em;
}

#board {
    padding-bottom: 15px;
}

.board_bucket ol{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 30px;
}

.board_bucket li {
    width: 212;
    height: auto;
    float: left;
    list-style-type: none;
    text-align: center;
    margin: 10px;
}

.board_bucket img {
    width: 212;
    height: 280;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

.board_bucket a:hover img {
    margin: -3px;
    border-width: 3px;
    border-style: solid;
    /* border-color: #dc8546; /\* orange *\/ */
    border-color: #CCC; gray
}

.board_bucket a {
    word-wrap: break-word;
}

.board_bucket h6 {
    word-wrap: break-word;
    margin-top: 3px;
}

.board_bucket h6:hover {
    text-decoration: underline;
}
