.mainContent {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    border: 1px solid #1E6B39;
    border-top: 0;
    height: auto;
}

.mainContent h2 {
    color: white;
    padding:5px 13px;
    font-size: 18px;
    letter-spacing: 5px;
    overflow: hidden;
    border-left: 0;
    border-right: 0;
    background: #2c7046;
    background: -moz-linear-gradient(top,  #2c7046 0%, #2c7046 49%, #28653f 50%, #2c7046 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2c7046 0%,#2c7046 49%,#28653f 50%,#2c7046 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2c7046 0%,#2c7046 49%,#28653f 50%,#2c7046 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7046', endColorstr='#2c7046',GradientType=0 ); /* IE6-9 */
    display: block;
}

/****************/
/* informations */
/****************/
#informations {
    float: left;
    width: 546px;
    -moz-box-shadow: 1px 1px 3px #bbb;
    -webkit-box-shadow: 1px 1px 3px #bbb;
    box-shadow: 1px 1px 3px #bbb; 
    overflow: hidden;
}

#informations h2 a {
    display: block;
    color: white;
}

#informations h2 .title {
    float: left;
}

#informations h2 .rss {
    float: right;
    width: 28px;
}

#informations h2 .infolist {
    float: right;
    position: relative;
    top: 4px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}                   
                    
#informations h2 .infolist a {
    font-size: 14px;
}

#informations h2 .infolist a:before {
    position : relative;
    content: url("/static/arrowWhite.png");
    top: 2px;
}                   


#informations > ol {
    display: block;
    list-style-type: none;
    overflow: hidden;
}

#informations > ol > li {
    overflow: hidden;
    padding: 0;
}

#informations > ol > li a {
    display: block;
    padding: 5px 10px;
    overflow: hidden;
    position: relative;
}

#informations > ol > li .Category {
    display: table-cell;
    width: 6em;
    vertical-align: middle;
    text-align: center;
    background-color: black;
    color: white;
    padding: 3px 10px;
    font-weight: bold;
    letter-spacing: 0.3em;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    
}

#informations > ol > li .Date {
    display: table-cell;
    width: 7em;
    padding-left: 10px;
    vertical-align: middle;
    color: #0B5426;
}

#informations > ol > li .Title {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0B5426;
}

#informations > ol > li:hover {
    background-color: #EAEDEA !important;
}

#informations > ol > li:hover .Title {
    text-decoration: underline !important;
}

/* .infoList li:nth-child(odd) { */
/*     background-color: #fff1e1; */
/* } */

#informations > ol > li:nth-child(even) {
    background-color: #E6F3EC;
}

.categoryInfo {
    background-color: #EF8694 !important;
}

.categoryReport {
    background-color: #B7912B !important;
}

.categoryUpdate {
    background-color: #9A40B1 !important;
}

.categoryImportant {
    background-color: #8B2210 !important;
}

.categoryWanted {
    background-color: #0081CC !important;
}

.categorySecurity {
    background-color: #EA6E56 !important;
}

.categoryEvent {
    background-color: #19AB40 !important;
}


/**********/
/* agenda */
/**********/
#agenda {
    width: 546px;
    float: left;
}

#agenda h2 a {
    display: block;
    color: white;
}

#agenda iframe {
    width: 535px;
    height: 350;
    border-width:0;
    padding: 5px;
}

/******************/
/* today tomorrow */
/******************/
#dayInfo {
    float: right;
    width: 180px;
    border: 0;
    margin: 0;
    padding: 0;
}

#today,
#tomorrow {
    float: right;
    width: 180px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #1E6B39;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

#today > h2 {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

#today h4,
#tomorrow h4 {
    text-align: center;
    font-size: 1.1em;
}

#today hr,
#tomorrow hr {
    width: 140px;
    border: none;
    border-bottom: 1px solid #ccc;
}

#tearOffCalendar .year {
    color: white;
    width: 90px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    background: #2c7046;
    background: -moz-linear-gradient(top,  #2c7046 0%, #2c7046 49%, #28653f 50%, #2c7046 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2c7046 0%,#2c7046 49%,#28653f 50%,#2c7046 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2c7046 0%,#2c7046 49%,#28653f 50%,#2c7046 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7046', endColorstr='#2c7046',GradientType=0 ); /* IE6-9 */    
}

#tearOffCalendar .year:after {
    content: "年";
}

#tearOffCalendar .month {
    background-color: #1E6B39;
    color: white;
    width: 90px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    margin-top: -37px;
    margin-left: 90px;
    background: #2c7046;
    background: -moz-linear-gradient(top,  #2c7046 0%, #2c7046 49%, #28653f 50%, #2c7046 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2c7046 0%,#2c7046 49%,#28653f 50%,#2c7046 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2c7046 0%,#2c7046 49%,#28653f 50%,#2c7046 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7046', endColorstr='#2c7046',GradientType=0 ); /* IE6-9 */    

}

#tearOffCalendar .month:after {
    content: "月";
}

#tearOffCalendar .day {
    background-color: #ffffff;
    color: black;
    width: 178px;
    font-size: 40px;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    height: 60;
    vertical-align: middle;
    margin-bottom: -20px;
    padding-bottom: 12px;
    font-family: georgia,arial,verdana,"trebuchet ms",sans-serif;
    letter-spacing: 0.06em;
}

#tearOffCalendar .day:after {
    content: "日";
    font-size: 15px;
    margin-right: -5px;
}

#tearOffCalendar .week {
    color: black;
    width: 178px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

#tearOffCalendar .week:after {
    content: "曜日";
    font-size: 10px;
    font-weight: bold;
}

#tearOffCalendar a {
    width: 100%;
    color: white;
    zoom: 1;	/* for before IE6 */
    height: 102px;
    text-decoration: none !important;
}

#today a,
#tomorrow a {
    display: list-item;
    text-decoration: none;
}

#today a:hover,
#tomorrow a:hover {
    text-decoration: underline;
}

#today p,
#tomorrow p {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#today p a[title="詳細を見る"],
#tomorrow p a[title="詳細を見る"]
{
    background-color: #E6F3EC;
    border-radius: 10px 10px 10px 10px;
    text-align: left;
}

#today p a[title="詳細を見る"]:before,
#tomorrow p a[title="詳細を見る"]:before {
    content: url("/static/arrowGray.png");
    position : relative;
    bottom: -0.3em;
}

#today li,
#tomorrow li {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 4px;
}

.garbageCollection img {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.hallBooking a {
    display: list-item;
    text-decoration: underline;
}

#tomorrow h2 {
    text-align: center;
}
