<div id="evacuationAlertArea" class="evacuationInfoEntry clearfix">
  <h2>避難情報</h2>
  <div class="evacuationAlertEntry twitter">
    <h3><a href="http://www.city.otsu.lg.jp/kurashi/bosai/sonae/1410416604576.html">大津市 総務部 危機・防災対策課</a></h3>
    <a class="twitter-timeline" data-chrome="noheader nofooter" href="https://twitter.com/otsu_kikibousai" width="420" height="300" data-widget-id="688536224286425088">大津市 危機・防災対策課 @otsu_kikibousaiさんのツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="evacuationAlertEntry portalSite">
    <h3><a href="http://www.pref.shiga.lg.jp/bousai/index.html">滋賀県防災ポータルサイト</a></h3>
    <iframe src="http://www.pref.shiga.lg.jp/bousai/index.html#emergency-area" scrolling="no"></iframe>
  </div>
  <div class="evacuationAlertEntry description">
    <table cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <th>避難準備情報</th>
          <td>避難の準備を始めましょう！<br/>※避難に時間がかかる人は、避難を開始する。</td>
        </tr>
        <tr>
          <th>避難勧告</th>
          <td>避難を始めましょう！<br/>※避難に時間がかかる人は、避難を完了する。</td>
        </tr>
        <tr>
          <th>避難指示</th>
          <td>直ちに避難してください！<br/>危険が迫っているため、一刻も早く避難を完了してください。</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
