{% extends "base/baseWiden.html" %}
{% load staticfiles %}
{% block title %}防災統合情報(ポータルサイト) | {% endblock %}
{% block description %}
<meta name="Description" content="里自治会の防災ポータルサイトです。避難情報や気象警報、地域の雨量、大戸川の河川カメラや水位、避難地図をここで掲載しております。">
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/securityportal.css" %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}
{% block main %}
{% include "secportal/secportal.html" %}
{% endblock %}

