{% load staticfiles %}
<div id="riverAlertArea" class="evacuationInfoEntry clearfix">
  <p><a href="http://c.shiga-bousai.jp/shigapref/pc/camDetail_6191FF05.html" target="_blank">滋賀県 河川防災カメラ {{ camdate|date:'Y年m月d日H:i' }} 現在</a></p>
  <div id="riverDescription" class="riverAlertEntry">
    <h2>大戸川(石居橋)の様子</h2>
    <ul>
      <li>
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <th>カメラ場所</th>
              <td>
                <a href="https://www.google.com/maps/place/34°56'39.3&#34;N+135°55'33.5&#34;E/@34.9398157,135.9206506,15z" target="_blank">
                  北緯34度56分39.3秒<br/>
                  東経135度55分33.5秒
                </a>
              </td>
            </tr>
            <tr>
              <th>雨量計設置場所</th>
              <td>
                <a href="https://www.google.com/maps/place/34%C2%B056'27.4%22N+135%C2%B054'59.7%22E/@34.9409333,135.9165917,17z" target="_blank">
                  大津市田上黒津町５丁目<br/>
                  (大戸川左岸)<br/>
                  北緯34度56分27.36秒<br/>
                  東経135度54分59.73秒
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>  
  </div>
  <div id="riverCam" class="riverAlertEntry">
    <a href="http://c.shiga-bousai.jp/shigapref/pc/camDetail_6191FF05.html" target="_blank" title="滋賀県河川防災カメラ">
      <img src="http://c.shiga-bousai.jp/shigapref/pc/cameraData/images/6191FF05/{{ camdate|date:'YmdHi'}}.jpg"/>
    </a>
  </div>
  <div id="rainGraphs" class="riverAlertEntry">
    <a href="http://shiga-bousai.jp/rain/rain_graph03.php?id1=6&id2=4&id3=1&id4=13&sid=21302" target="_blank">黒津(大戸川左岸)の雨量計</a>
    <div id="rainGraph">  
      <a href="http://shiga-bousai.jp/rain/rain_graph03.php?id1=6&id2=4&id3=1&id4=13&sid=21302">
        <img src="{{rainGraph}}" class="mainGraph"/>
        <img src="{% static "images/reiMini.jpg"%}" class="explainImage"/>
      </a>
    </div>
    <div id="riverGraph">
      <a href="http://shiga-bousai.jp/wl/wl_graph02.php?interval=60&id1=7&id2=4&id3=1&id4=13&sid=12056&page=2" target="_blank">
        <img src="{{riverGraph}}" class="mainGraph"/>
      </a>
    </div>
  </div>
</div>
