{% load staticfiles %}
<div id="board" class="board_bucket clearfix">
  <div class="otherlink">
    <a href="http://www.city.otsu.lg.jp/shisei/koho/kohootsu/" target="_blank" title="大津市サイト" onclick="ga('send','event','ootsu_kouhou','click')">おおつ広報</a>
    <a href="http://www.city.otsu.lg.jp/gikai/tayori/" target="_blank" title="大津市議会サイト" onclick="ga('send','event','shigikai','click')">市議会だより</a>
    <a href="http://www.pref.shiga.lg.jp/koho/" target="_blank" title="滋賀県サイト" onclick="ga('send','event','plusone','click')">滋賀プラスワン</a>
    <a href="http://www.shigaken-gikai.jp/g07_Koho.asp" target="_blank" title="滋賀県議会サイト" onclick="ga('send','event','keigikai','click')">滋賀県議会だより</a>
  </div>
  <h2>{{ year }}年 回覧板</h2>
  <ol>
    {% for board in board_list %}
    <li>
      <a href="{{ board.file.url }}" title="{{ board.title }}をダウンロード" target="_blank" onclick="ga('send','event','board_image','download','{{ board.file.url }}')">
        {% if board.thumbnail %}
        <img src="{{ board.thumbnail.url }}" alt="{{ board.file.name }}">
        {% else%}
        <img src="{% static "images/no_pdf_picture.jpg" %}" alt="NoPicture">
        {% endif %}
      </a>
      <h6><a href="{{ board.file.url }}" class="board_title" title="{{ board.title }}をダウンロード"  target="_blank" onclick="ga('send','event','board_title','download','{{ board.file.url }}')">{{ board.title }}</a></h6> 
    </li>
    {% endfor %}
  </ol>
</div>
