<html>
  <head>
    <title>里自治会</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% include 'base/header.html' %}
    <div id="middle"  class="clearfix">
      <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      </head>
      <div id="highPriorityArea">
        {% include 'emergency/emergency.html' %}
      </div>      
      {% block main %}
      {% endblock %}
    </div>

    {% include 'base/footer.html' %}
    {% include 'base/pagetop.html' %}
  </body>
</html>
