<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-site-verification" content="LgLiKqn-S2N3x1B11NAbY4D4UPsUjUKfZXA0-kMvdpw" />
    <title>{% block title %}{% endblock %}里自治会 大津市田上学区</title>
    {% block description %}
    {% endblock %}
    <meta name="keywords" content="滋賀県,大津市,田上学区,里自治会,里1丁目,里2丁目,里3丁目,里4丁目,里5丁目,里6丁目,枝4丁目,関津6丁目,自治会,里公民館"/>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% block css %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76164632-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    {% include 'base/header.html' %}
    <div id="middle"  class="clearfix">
      <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      </head>
      <div id="highPriorityArea">
        {% include 'emergency/emergency.html' %}
      </div>      
      {% include 'base/links.html' %}
      <div id="main">
        {% block main %}
        {% endblock %}
      </div>
    </div>

    {% include 'base/footer.html' %}
    {% include 'base/pagetop.html' %}
  </body>
</html>
