{% load staticfiles %}
<div id="footer">
  <div id="footerWrapper">
    <div id="aboutMe">
      <h1>里自治会</h1>
      <ul>
        <li>
          <div id="zip">
            <p>{{about.ZIP}}</p>
          </div>
        </li>
        <li>
          <div id="address">
            <p><a href="https://www.google.co.jp/maps/place/%E3%80%92520-2276+Shiga-ken,+%C5%8Ctsu-shi,+Sato,+5+Chome%E2%88%927%E2%88%9222+%E9%87%8C%E5%85%AC%E6%B0%91%E9%A4%A8/@34.9394985,135.9306612,17z/data=!4m2!3m1!1s0x60016cee67f7d6df:0xe8e861cb3f9f2737?hl=ja" target="_blank" title="地図を見る">{{about.ADDRESS}}</a></p>
          </div>
        </li>
        <li>
          <div id="phone">
            <p>{{about.PHONE_NUMBER}}</p>
          </div>
        </li>
        <li>
          <div id="fax">
            <p>{{about.FAX}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div id="sitemap" class="footerContent clearfix">
      <div class="sitemapEntry">
        <h3><a href="/news">おしらせ</a></h3>
        <ol>
          {% for news_year in news_uniq_years %}
          <li><a href="/news/?year={{ news_year }}">{{ news_year }}年</a></li>
          {% endfor %}
        </ol>
      </div>
      <div class="sitemapEntry">
        <h3><a href="/activity/">ご報告</a></h3>
        <ol>
          {% for activity_year in activity_uniq_years %}
          <li><a href="/activity/?year={{ activity_year }}">{{ activity_year }}年</a></li>
          {% endfor %}
        </ol>
      </div>
      <div class="sitemapEntry">
        <h3><a href="/board">回覧板</a></h3>
        <ol>
          {% for board_year in board_uniq_years %}
          <li>
            <a href="/board/?year={{ board_year }}">{{ board_year }}年</a>
          </li>
          {% endfor %}
        </ol>
      </div>
      <div class="sitemapEntry">
        <h3><a href="/security">防犯・防災</a></h3>
        <ol>
          <li><a href="/security/secportal/">統合情報</a></li>
          <li><a href="/security/secportal/#evacuationMapArea">避難地図</a></li>
          <li><a href="/security/knowledge/">防災予備知識</a></li>
        </ol>
      </div>
      <div class="sitemapEntry">
        <h3><a href="/formats">各種申請</a></h3>
        <ol>
          <li><a href="/formats/#formatSato">里自治会関係書式</a></li>
          <li><a href="/formats/#formatETC">自治体等関連書式</a></li>
        </ol>
      </div>
      <div id="query" class="sitemapEntry">
        <h3><a href="/about">自治会案内</a></h3>
        <ol>
          <li><a href="/about/rule">会則</a></li>
          <li><a href="/about/greeding">会長挨拶</a></li>
          <li><a href="/about/group/">ブロックと組割</a></li>
          <li><a href="#">入会案内</a></li>
          <li><a href="#">脱会案内</a></li>
          <li><a href="/about/solve/#faq">よくある質問</a></li>
          <li><a href="/about/solve/#contact">情報提供・お問い合わせ</a></li>
        </ol>
      </div>
      <div class="sitemapEntry">
        <h3>その他</h3>
        <ol>
          <li><a href="/informations/feed/">RSS</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
