{% load staticfiles %}
{% load startswidth %}
<div id="linkTree">  
  <script type="text/javascript" src="{% static "js/acordionMenu.js" %}"></script>
  <div id="newsLinks">
    <h2 {% if request.path|startswith:"/news" %}class="selected"{% endif %}>過去のおしらせ</h2>
    <ol {% if request.path|startswith:"/news" %}style="display:block"{% endif %}>
      {% for news_year in news_uniq_years %}
      <li>
        <p><a href="/news/?year={{ news_year }}" title="{{ news_year }}年のおしらせを見る">{{ news_year }}年</a></p>
      </li>
      {% endfor %}
    </ol>
  </div>
  <div id="activityLinks">
    <h2 {% if request.path|startswith:"/activity" %}class="selected"{% endif %}>活動報告</h2>
    <ol {% if request.path|startswith:"/activity" %}style="display:block"{% endif %}>
      {% for activity_year in activity_uniq_years %}
      <li>
        <p>
          <a href="/activity/?year={{ activity_year }}" title="{{ activity_year }}年の活動を見る">{{ activity_year }}年</a>
        </p>
      </li>
      {% endfor %}
    </ol>
  </div>
  <div id="securityLinks">
    <h2 {% if request.path|startswith:"/security" %}class="selected"{% endif %}>防犯・防災</h2>
    <ol {% if request.path|startswith:"/security" %}style="display:block"{% endif %}>
      <li>
        <p>
          <a href="/security/secportal/" title="防災ポータルサイトを見る">防災統合情報</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/security/secportal/#evacuationMapArea" title="避難地図を見る">避難地図</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/security/knowledge/" title="防災予備知識を見る">防災予備知識</a>
        </p>
      </li>
    </ol>
  </div>
  <div id="boardLinks">
    <h2 {% if request.path|startswith:"/board" %}class="selected"{% endif %}>回覧板</h2>
    <ol {% if request.path|startswith:"/board" %}style="display:block"{% endif %}>
      {% for board_year in board_uniq_years %}
      <li>
        <p>
          <a href="/board/?year={{ board_year }}" title="{{ board_year }}年の回覧を表示する">{{ board_year }}年</a>
        </p>
      </li>
      {% endfor %}
    </ol>
  </div>
  <div id="aboutLinks">
    <h2 {% if request.path|startswith:"/about" %}class="selected"{% endif %}>自治会案内</h2>
    <ol {% if request.path|startswith:"/about" %}style="display:block"{% endif %}>
      <li>
        <p>
          <a href="/about/rule/" title="会則を見る">会則</a>
        </p>
      </li>
      <li {% if request.path|startswith:"/about/hall" %}class="active"{% endif %}>
        <p>
          <a href="/about/hall/" title="里公民館のページを見る">里公民館(予定・申込み)</a>
        </p>
      </li>
      <li {% if request.path|startswith:"/about/group" %}class="active"{% endif %}>
        <p>
          <a href="/about/group/" title="ブロックと組の地図を見る">ブロックと組</a>
        </p>
      </li>
      <li>
        <p>
          <a href="/about/solve/#faq" title="QAを見る">よくある質問</a>
        </p>
      </li>
      <li {% if request.path|startswith:"/about/contact" %}class="active"{% endif %}>
        <p>
          <a href="/about/solve/#contact" title="情報提供・問い合わせをする">情報提供・お問い合わせ</a>
        </p>
      </li>
    </ol>
  </div>
</div>
